[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "device-tree-xlnx"]
	path = device-tree-xlnx
	url = https://github.com/Xilinx/device-tree-xlnx.git
